# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8

# xml files
[*.{xml,csproj,targets,props,config,proj}]
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true
insert_final_newline = unset

# PowerShell scripts
[*.{ps1,psm1,psd1}]
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true
insert_final_newline = true

# Intermediate Language files
[*.il]
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true
insert_final_newline = true

# Json file
[*.json]
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true
insert_final_newline = false

# Solution
[*.sln]
charset = utf-8-bom
indent_size = 4
tab_width = 4
indent_style = tab
trim_trailing_whitespace = unset
insert_final_newline = unset

# Xml Solution
[*.slnx]
charset = utf-8
indent_size = 2
tab_width = 2
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# C# source code
[*.cs]
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:error
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_prefer_method_group_conversion = true:suggestion
csharp_style_prefer_top_level_statements = true:warning
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:suggestion
csharp_style_expression_bodied_local_functions = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:warning
csharp_style_unused_value_expression_statement_preference = discard_variable:warning
csharp_prefer_static_local_function = true:warning
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_readonly_struct_member = true:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = false:warning
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false:suggestion
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = false:none
csharp_style_var_elsewhere = false:none
csharp_style_prefer_primary_constructors = true:suggestion

csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = false
csharp_indent_switch_labels = true
csharp_space_around_binary_operators = before_and_after
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

dotnet_diagnostic.NUnit2001.severity = error
dotnet_diagnostic.NUnit2002.severity = error
dotnet_diagnostic.NUnit2003.severity = error
dotnet_diagnostic.NUnit2004.severity = error
dotnet_diagnostic.NUnit2005.severity = error
dotnet_diagnostic.NUnit2006.severity = error
dotnet_diagnostic.NUnit2007.severity = warning
dotnet_diagnostic.NUnit2015.severity = error
dotnet_diagnostic.NUnit2016.severity = error
dotnet_diagnostic.NUnit2017.severity = error
dotnet_diagnostic.NUnit2018.severity = error
dotnet_diagnostic.NUnit2019.severity = error
dotnet_diagnostic.NUnit2027.severity = error
dotnet_diagnostic.NUnit2028.severity = error
dotnet_diagnostic.NUnit2029.severity = error
dotnet_diagnostic.NUnit2030.severity = error
dotnet_diagnostic.NUnit2031.severity = error
dotnet_diagnostic.NUnit2032.severity = error
dotnet_diagnostic.NUnit2033.severity = error
dotnet_diagnostic.NUnit2034.severity = error
dotnet_diagnostic.NUnit2035.severity = error
dotnet_diagnostic.NUnit2036.severity = error
dotnet_diagnostic.NUnit2037.severity = error
dotnet_diagnostic.NUnit2038.severity = error
dotnet_diagnostic.NUnit2039.severity = error
dotnet_diagnostic.NUnit2045.severity = silent
dotnet_diagnostic.NUnit2046.severity = warning

dotnet_diagnostic.CA1000.severity = warning
dotnet_diagnostic.CA1010.severity = warning
dotnet_diagnostic.CA1014.severity = silent
dotnet_diagnostic.CA1016.severity = warning
dotnet_diagnostic.CA1018.severity = warning
dotnet_diagnostic.CA1021.severity = silent
dotnet_diagnostic.CA1031.severity = error
dotnet_diagnostic.CA1036.severity = warning
dotnet_diagnostic.CA1041.severity = error
dotnet_diagnostic.CA1047.severity = warning
dotnet_diagnostic.CA1050.severity = warning
dotnet_diagnostic.CA1051.severity = warning
dotnet_diagnostic.CA1070.severity = warning
dotnet_diagnostic.CA1001.severity = warning
dotnet_diagnostic.CA1200.severity = warning
dotnet_diagnostic.CA1311.severity = warning
dotnet_diagnostic.SYSLIB1054.severity = warning
dotnet_diagnostic.CA1507.severity = warning
dotnet_diagnostic.CA1805.severity = suggestion
dotnet_diagnostic.CA1825.severity = warning

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# IDE0072: Add missing cases
dotnet_diagnostic.IDE0072.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

[*.{cs,vb}]
indent_size = 4
tab_width = 4
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = error
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = warning
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.private_field_members_should_be_camel_case.severity = warning
dotnet_naming_rule.private_field_members_should_be_camel_case.symbols = non_field_members
dotnet_naming_rule.private_field_members_should_be_camel_case.style = camel_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

dotnet_naming_symbols.private_field_members.applicable_kinds = field
dotnet_naming_symbols.private_field_members.applicable_accessibilities = private
dotnet_naming_symbols.private_field_members.required_modifiers = private

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.camel_case.required_prefix = _
dotnet_naming_style.camel_case.required_suffix = 
dotnet_naming_style.camel_case.word_separator = 
dotnet_naming_style.camel_case.capitalization = camel_case

dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = false:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_readonly_field = true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_allow_multiple_blank_lines_experimental = false:suggestion
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_code_quality_unused_parameters = all:warning
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_diagnostic.CA1061.severity = warning
dotnet_diagnostic.CA1067.severity = warning
dotnet_diagnostic.CA1310.severity = suggestion
dotnet_diagnostic.CA2101.severity = warning
dotnet_diagnostic.CA1304.severity = suggestion
dotnet_diagnostic.CA1305.severity = silent
dotnet_diagnostic.CA1401.severity = warning
dotnet_diagnostic.CA1707.severity = suggestion
dotnet_diagnostic.CA1708.severity = suggestion
dotnet_diagnostic.CA1710.severity = warning
dotnet_diagnostic.CA1711.severity = warning
dotnet_diagnostic.CA1712.severity = suggestion
dotnet_diagnostic.CA1715.severity = warning
dotnet_diagnostic.CA1716.severity = warning
dotnet_diagnostic.CA1720.severity = warning
dotnet_diagnostic.CA1724.severity = error
dotnet_diagnostic.CA1727.severity = suggestion
dotnet_diagnostic.CA1806.severity = warning
dotnet_diagnostic.CA1821.severity = warning
dotnet_diagnostic.CA1827.severity = warning
dotnet_diagnostic.CA1828.severity = warning
dotnet_diagnostic.CA1829.severity = warning
dotnet_diagnostic.CA1830.severity = warning
dotnet_diagnostic.CA1834.severity = warning
dotnet_diagnostic.CA1838.severity = warning
dotnet_diagnostic.CA1842.severity = warning
dotnet_diagnostic.CA1843.severity = warning
dotnet_diagnostic.CA1848.severity = suggestion
dotnet_diagnostic.CA1852.severity = suggestion
dotnet_diagnostic.CA2009.severity = warning
dotnet_diagnostic.CA2011.severity = warning
dotnet_diagnostic.CA2012.severity = warning
dotnet_diagnostic.CA2019.severity = warning
dotnet_diagnostic.CA5350.severity = suggestion
dotnet_diagnostic.CA5351.severity = warning
dotnet_diagnostic.CA5359.severity = suggestion
dotnet_diagnostic.CA5360.severity = suggestion
dotnet_diagnostic.CA5364.severity = warning
dotnet_diagnostic.CA5365.severity = warning
dotnet_diagnostic.CA5366.severity = suggestion
dotnet_diagnostic.CA5373.severity = warning
dotnet_diagnostic.CA5374.severity = suggestion
dotnet_diagnostic.CA5379.severity = suggestion
dotnet_diagnostic.CA5384.severity = warning
dotnet_diagnostic.CA5385.severity = warning
dotnet_diagnostic.CA5397.severity = suggestion
dotnet_diagnostic.CA2201.severity = warning
dotnet_diagnostic.CA2215.severity = warning
dotnet_diagnostic.CA2229.severity = suggestion

[Tests/Dummies/**.cs]
# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent
