[submodule "Moq"]
	path = Tests/Integration/Moq
	url = https://github.com/moq/moq.git
[submodule "Autofac"]
	path = Tests/Integration/Autofac
	url = https://github.com/autofac/Autofac.git
[submodule "Serilog"]
	path = Tests/Integration/Serilog
	url = https://github.com/serilog/serilog.git
[submodule "NUnit"]
	path = Tests/Integration/NUnit
	url = https://github.com/nunit/nunit.git
[submodule "Bshox"]
	path = Tests/Integration/Bshox
	url = https://github.com/PhilippNaused/Bshox.git
