<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- This is a dummy file to prevent the integration tests from importing the root file -->

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <clear />
  </packageSourceMapping>

</configuration>