name: 'Check spelling'
on:
  pull_request:
  push:
    branches: main

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: false
          submodules: false
      - uses: streetsidesoftware/cspell-action@v7